<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/new_blog">New Blog</a></li>
        </ul>
    </nav>
</header>
